/* You can add global styles to this file, and also import other style files */

table,
td,
th {
    border: 1px solid black;
}

table {
    width: 100%;
    border-collapse: collapse;
}

.action {
    margin-left: 20px;
}

.link-container {
    margin: 20px 20px 20px 0
}

.form-field {
    margin-bottom: 20px;
}

.error {
    color: red;
}